@font-face {
  font-weight: 400;
  /* Соответствует значению normal */
  font-family: Proto Grotesk;
  src: url("fonts/Proto Grotesk/ProtoGrotesk-Regular.ttf");
}

@font-face {
  font-weight: 700;
  /* Соответствует значению bold */
  font-family: Proto Grotesk Bold;
  src: url("fonts/Proto Grotesk/ProtoGrotesk-Bold.ttf");
}

@font-face {
  font-weight: 300;
  font-family: Proto Grotesk Light;
  src: url("fonts/Proto Grotesk/ProtoGrotesk-Light.ttf");
}

@font-face {
  font-weight: 500;
  /* Соответствует значению normal */
  font-family: Suisse Intl;
  src: url("fonts/Suisse Intl/SuisseIntl-Medium.otf");
}

@font-face {
  font-weight: 700;
  /* Соответствует значению bold */
  font-family: Suisse Intl Bold;
  src: url("fonts/Suisse Intl/SuisseIntl-Bold.otf");
}

@font-face {
  font-weight: 300;
  font-family: Suisse Intl Light;
  src: url("fonts/Suisse Intl/SuisseIntl-Light.otf");
}

@font-face {
  font-weight: 300;
  font-family: Suisse Intl Regular;
  src: url("fonts/Suisse Intl/SuisseIntl-Regular.otf");
}

body {
  margin: 0;
  padding: 0;

}
/*Header*/
/*Поиск*/
form{
  position: relative;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  transition: all 1s;
  width:50px;
  height:25px;
  background-color: white;
  border-radius: 30px;
  border:4px solid white;
  padding:5px;
}
.fill input{
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height:42.5px;
  line-height: 30px;
  outline:0;
  border:0;
  display: none;
  font-size: 1em;
  border-radius: 18px;
  padding: 0px 18px;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
.fa {
  padding: 11px;
  width: 43px;
  height: 43px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #49475f;
  text-align: center;
  font-size: 1.3em;
  transition: all 1s;
}
form:hover .fill {
  
  stroke: white!important;
}
.fill {
  stroke: black;
}
form:hover{
  width:214px;
  cursor: pointer;
}
form:hover input{
  display: block;
}
form:hover .fa {
  background-color: #3f3c56;
  color: #f9e3e3;
}
/*Header end*/
/*Banner*/

/*Feature*/
.feature {
  margin-bottom: 100px;
}
/*End Feature*/

/*Tours*/
.h1tours {
  margin-bottom: 100px;
}
.card {
position: relative;
width: 100%;
height: 490px; 
margin-bottom: 20px;
border-radius: 20px;
}
.city{
  font-size: 24px;
  padding-left: 10px;
}
.rating {
  position: absolute;
  background: #007470;
  border-radius: 8px;
  height: 45px;
  width: 45px;
  right: 10px;
  top: 10px;
  color: white;
}
.image__card {
  top: 0px;
}
.stars {
  padding-right: 10px;
}
.naming {
  padding-left: 10px;
}
.food__refound {
  padding-right: 10px;
}
.icons__card {
  padding-left: 10px;
}
.old__price{
  color: #494949;
}
.button__buy button{
  padding: 5px 80px;
  position: relative;
}
.icon{
  position: absolute;
  top: 0;
  right: 10px;
  height: 100%;
  width: 10%;
  transition: .2s linear;
}
.button__buy:hover .icon{
right: 0;
}
.liked button{
  background: transparent;
  border:none;
}
.liked button img {
  height: 60px;
}
.buttons__card {
  margin: 0;
  
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%)
 
}
/*End Tours*/

.banner {
position: relative;
background: linear-gradient(100.71deg, rgba(7, 56, 148, 0) -1.1%, rgba(7, 56, 148, 0) -1.09%, rgba(7, 56, 148, 0) -1.08%, #6C69FF -1.07%, #00318C 57.18%, rgba(255, 255, 255, 0) 97.64%, rgba(130, 156, 205, 0) 97.65%);
border-radius: 20px;
margin-bottom: 20px;
}
.bannertext {
  font-size: calc(3.125vw + 10px);
  line-height: calc(3.281vw + 5px);
}
/*End banner*/
.main {
  background-image: url("./images/bg.svg");
  background-repeat: no-repeat;
  background-position: 0px -400px;
  background-size: cover;
  padding-top: 50px;
}

* {
  font-family: 'Suisse Intl Regular';
  font-style: Medium;
}

header {
  height: 72px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  transition: 0.3s;
  color: #E02200;
}

.first__footer {
  padding-bottom: 38px;
}

.buttonemail,
.buttonphone {
  position: absolute;
  border-radius: 0px 20px 20px 0px;
  padding: inherit;
  height: 100%;
  width: 20%;
  border: none;
  outline: none;
  background: #B8B2B2;
}

.first__footer p {

  font-size: 24px;
  text-align: center;

}

.emailinput,
.phoneinput {
  position: relative;
}

.buttonemail,
.buttonphone {
  position: absolute;
  top: 0;
  right: 0;
}

.first__footer input {
  border-radius: 20px;
  padding: 10px 5px 10px 40px;
  border: none;
  outline: none;
}

.icon__phone{
  stroke: #fff;
}
.second__footer{
  background: #3A3A3A;
  color: #fff;
  padding-top: 36px;
}

.social__link{
  padding-right: 16.33px;
  border-right: 1px #FFF solid;
}
.link__footer{
  color:#fff;
}
.footer__policy{
  padding-bottom: 15px;
}
.phones a{
  color:#fff;
  transition: 0.3s;
}
.phones a:hover{
  color: #E02200;
}
/*Adaptation start*/
@media (max-width: 991px) { 
  .second__footer {
    overflow: hidden;
  }
  .footer__ad {
    justify-content: center!important;
    gap: 50px;
  }
  .contacts__footer {
    display: block!important;
    text-align: center;
    justify-content: center;
  }
  .icon__text{ 
    display: inline-block!important;
  text-align:center; }
  .second__footer a {
    font-size: calc(2.7vw)!important;
  }
  .second__footer p {
    font-size: calc(2.7vw)!important;
  }
  .first__footer p{
    font-size: calc(3vw)!important;
  }
  .link {
    gap: 1rem!important;
  }
  
}
/*Adaptation end*/


/* Карточка профиля start*/
.card__profile{
  background-color: #FFF5CC;
  width: 650px;
  border-radius: 33px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2rem !important;
 margin-bottom: 50px;
}
.top-container{
  display: flex;
  align-items: center;
}
.profile-image{
  border-radius: 10px;
  margin-right: 15px;
  margin-bottom: 10px;
}
.name{
  font-size: 15px;
  font-weight: bold;
  color: #272727;
  position: relative;
  top: 8px;
}
.mail{
  font-size: 14px;
  color: grey;
  position: relative;
}
.middle-container{
  background-color: #FAEFDC;
  border-radius: 12px;

}
.middle-container:hover {
  border: 1px solid #5957f9;
}
.dollar-div{
  background-color: #FFCF08 ;
  padding: 12px;
  border-radius: 10px;
}
.round-div{
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.dollar{
  font-size: 16px !important;
  color: #5957f9 !important;
}


.current-balance{
  font-size: 15px;
  padding-left: 10px;
  color: #272727;
  font-weight: bold;
}
.amount{
  color: #5957f9;
  font-size: 16px;
  font-weight: bold;
}
.dollar-sign{
  font-size: 16px;
  color: #272727;
  font-weight: bold;
}

.recent-border{
  border-left: 2px solid #5957f9;
  display: flex;
  align-items: center;

}
.recent-border:hover {
  border-bottom: 1px solid #dee2e6!important;
}

.recent-orders{
  font-size: 16px;
  font-weight: 700;
  color: #5957f9;
  margin-left: 2px;
}

.wishlist{
  font-size: 16px;
  font-weight: 700;
  color: #272727;

}
.wishlist-border:hover{
  border-bottom: 1px solid #dee2e6!important;
}
.fashion-studio{
  font-size: 16px;
  font-weight: 700;
  color: #272727;
}
.fashion-studio-border:hover {
  border-bottom: 1px solid #dee2e6!important;

}
/* Карточка профиля end*/

/* Прозрачность посещенных туров*/
.card__filled{
  opacity: 0.5;
  margin-bottom: 60px;
}
/* Кнопка лайка start*/
.liked button {
  background: transparent;
  border: none;
  height: 60px;
  transition: .2s linear;
}

.liked button svg path {
  transition: .2s linear;
}

.liked button:hover svg path {
  fill: #E23108;
  fill-opacity: 1;
}

.liked button:hover svg rect {
  fill: #E23108;
}
/* Кнопка лайка end*/